@model Advertisement

@{
    Layout = "~/Views/Shared/Layout3.cshtml";

}


<section>
    <h3>Advertisement Detail</h3>
    <div class="container">
        <div class="image-side">
            <div class="file-input-container">
                <img id="selected-image" src="data:image/png;base64,@Model.Image" alt="Selected Image">
            </div>
        </div>
        <div class="attribute-side">
            <label id="title-text" class="attribute-text" for="title">@Model.Title</label>
            <label class="attribute-text" for="description">@Model.Description</label>
            <label class="attribute-text" for="tags">@Model.Tag</label>
            <label class="attribute-text" for="price">$@Model.Price</label>
            @*<button id="product-button-@Model.Id" class="add-to-cart" onclick="handleButtonClick(@Model.Id, @Model.SellerUserID)" type="submit">Update Product</button>*@
        </div>
    </div>
</section>

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0px;
        padding: 0px;
    }

    form {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        max-width: 1400px;
        justify-content: space-evenly;
    }

    label {
        display: block;
        margin-bottom: 13px;
        text-transform: capitalize;
    }

    textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    .form-button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
    }

    button:hover {
        background-color: #45a049;
    }

    .form-button {
        height: 70px;
        background-color: #8968CD;
        color: white;
        border: none;
        border-radius: 5px;
        margin-bottom: 15px;
        width: 300px;
    }

    .container {
        text-align: center;
        display: flex;
        flex-direction: row;
    }

    .attribute-side {
        width: 500px;
        display: flex;
        text-align: start;
        flex-direction: column;
        margin: 95px;
        justify-content: center;
    }

    .image-side {
        width: 500px;
        margin: 40px;
    }

    .file-input-container {
        width: 500px;
        height: 500px;
        position: relative;
        overflow: hidden;
        background-color: #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .file-input-container input {
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

    .file-input-label {
        font-size: 16px;
        color: #333;
        z-index: 2;
        position: absolute;
    }

    h3 {
        margin-left: 166px;
        color: #8968CD;
        display: flex;
    }

    #selected-image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }

    .navbar-nav {
        justify-content: end;
        align-items: center;
    }

    #search-item {
        border-radius: 30px;
        border-width: thin;
        height: 32px;
        font-size: smaller;
        width: 200px;
    }

    #logoutButton {
        border: none;
        border-radius: 10px;
        margin-left: 40px;
        background-color: #8968CD;
        color: white;
    }

    #title-text {
        font-size: 26px;
        color: #8968CD;
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    document.getElementById("logoutButton").addEventListener("click", function () {
        // Cookie'yi silmek için JavaScript kullanabilirsiniz
        document.cookie = "tokenString=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";

        // Sayfayı yeniden yönlendirme (örneğin, login sayfasına)
        window.location.href = "/Home/Login";
    });

    //var tokenString = getCookie("tokenString");

    //if (tokenString) {
    //    console.log('Token String from Cookie:', tokenString);
    //} else {
    //    console.log('Token String not found in Cookie.');
    //}

    //var decodedToken = atob(tokenString.split('.')[1]); // Token'ı çöz
    //console.log("decoded token", decodedToken);

    //var userInfo = JSON.parse(decodedToken); // JSON formatına çevir
    //console.log("user info", userInfo);
    //var userId = userInfo.unique_name; // Kullanıcı kimliğini al
    //console.log("User ID:", userId);

    //var productCards = document.querySelectorAll(".product-card");
    //var productSellers = document.querySelectorAll(".product-seller");
    //var productBuyers = document.querySelectorAll(".product-buyer");


    //var addToCartButton = document.querySelector(".add-to-cart");
   
    //addToCartButton.addEventListener("click", function () {
    //    var productId = addToCartButton.id.split("-")[2];
    //    console.log("ürün alınacak: " + productId);
    //});

    //function handleButtonClick(productId, sellerId) {
    //    if (userId == sellerId) {
    //        productButtons[index].innerText = "Delete Item";
    //        console.log("silinebilir");
    //        deleteItem(productId);
    //    } else {
    //        console.log("alınabilir");
    //        purchaseItem(productId);
    //    }
    //}

</script>